<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EjemploSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:33616/Ejemplo.asmx" binding="basicHttpBinding" bindingConfiguration="EjemploSoap" contract="Ejemplo.EjemploSoap" name="EjemploSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
